* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background: #050c18;
  font-family: var(--font-main);
}

img {
  display: block;
  max-width: 100%;
}
